<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Voting</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ng-container *ngIf="booleanStart">
    <h1> {{ voting.name }} </h1>

    <h3>Fecha de Inicio: {{ start_date }}</h3>
    <h3 *ngIf="booleanEnd">Fecha de finalización: {{ end_date }}</h3>
    <div class="container">
      <div class="voting-form" *ngFor="let question of questions">
        <ion-label>{{ question.desc }}</ion-label>
        <ion-card ion-item padding *ngFor="let item of question.options" (click)="vote(voting,item)">
          <ion-card-content>
            <p>{{ item.number }} . {{ item.option }} </p>
          </ion-card-content>
        </ion-card>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!booleanStart">
    <ion-row style="height: 100%">
      <ion-col col-xl-3 col-0></ion-col>
      <ion-col col-xl-6 col-12>
        <h4 style="text-align: center; margin-left: 20px; margin-right: 20px">
          This voting is no iniciate
        </h4>
        <img class="img-pet" src="{{ url }}" />
      </ion-col>
      <ion-col col-xl-3 col-0></ion-col>
    </ion-row>
  </ng-container>
</ion-content>