Django==2.2.10
pycryptodome==3.6.6
djangorestframework==3.7.7
django-cors-headers==2.1.0
requests==2.18.4
django-filter==1.1.0
psycopg2==2.7.4
django-rest-swagger==2.2.0

#Auth requirements
django-rest-auth==0.9.3
django-allauth==0.38.0
selenium==3.141.0

#Heroku requirements
django-heroku
gunicorn
django-recaptcha==1.2.1



