page-home {
    .img-pet {
        margin-top: 5%;
        background-color: rgba($color: #FFF, $alpha: 0.0);
        margin-right: auto;
        margin-left: auto;
        min-height: 220px !important;
    }
    
}
